[submodule "extensions/github-dark"]
	path = extensions/github-dark
	url = https://github.com/iamdhakrey/veyak-github-dark-theme
[submodule "extension/oled-black"]
	path = extension/oled-black
	url = https://github.com/iamdhakrey/Veyak-OLED-Black-Theme
